* {
  scroll-behavior: smooth;
  font-family: JetBrains Mono;
  /* overflow: hidden; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #031019;
}

.duplas {
  display: flex;
  width: 2%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #E0E330; */
}

.definirDuplas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.definirDuplas h2{
  color: #E0E330;
  font-weight: 900;
}

#inputDefinir {
  width: 300px;
  border-color: white;
  border-width: 3.5px;
  background-color: transparent;
  background: none;
  border-style: solid;
  width: 430px;
  height: 40px;
  font-size: 20px;
  border-radius: 3px;
  margin: 5px;
  margin-top: 50px;
  color: white;
}

#labelDefinir {
  color: white;
  font-weight: 900;
}

body #imgJason {
  z-index: 2;
  position: absolute;
  margin-top: 35%;
  width: 25%;
}

body #imgDavid {
  z-index: 2;
  position: absolute;
  margin-top: 15%;
  width: 25%;
  margin-left: 77%;
  transform: scaleX(-1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #031019;
  border-bottom: 3px solid #E32D60;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 5;
}

nav a {
  font-style: none;
  font-weight: 900;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover, nav a.active{
  font-style: none;
  font-weight: 900;
  color: #E0E330;
  text-decoration: none;
  transition: 0.5s;
}

.textarea-field {
  resize: none;
}

header {
  display: flex;
  color: white;
  width: 100%;
  height: 715px;
  /* background-image: url('../assets/backgroundHeader.png');
  background-repeat: no-repeat; */
  background-color: #031019;
  background-size: cover;
  justify-content: center;
  /* background-attachment: fixed; */
  border-bottom: 3px solid #E32D60;
  z-index: 600;
  transition: .3s;
}

#tituloHeader {
  display: flex;
  width: 60%;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

header h1 {
  display: flex;
  color: white;
  font-size: 80px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  height: 650px;
  font-weight: 900;
}

header video {
  display: flex;
  width: 100%;
  height: 716px;
  justify-content: center;
  background-attachment: fixed;
  position: absolute;
  z-index: 0;
  opacity: 40%;
  background-color: #E0E330;
  object-fit: cover;
}

.sectionSobre {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #031019;
  justify-content: center;
  flex-direction: column;
  border-bottom: #E32D60 solid 3px;
}

.sectionSobre h1 {
  display: flex;
  color: #E0E330;
  font-size: 40px;
  justify-content: center;
  font-weight: 900;
  margin-top: -15px;
}

.sectionSobre p {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: -15px;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionBenef {
  display: flex;
  background-image: url('../assets/backgroundBenef.png');
  background-size: cover;
  width: 100%;
  height: 650px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  border-bottom: #E32D60 solid 3px;
}

#contentBenef {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 200px;
  width: 100%;
  height: 90%;
  /* background-color: #E0E330; */
}

.cardBenef {
  display: flex;
  width: 350px;
  height: 450px;
  background-color: #031019;
  border: 3px solid #E32D60;
  border-radius: 3px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  transform: 0.5s;
  transition: 0.3s;
  margin-top: 100px;
}

.cardBenef:hover {
  display: flex;
  width: 370px;
  height: 470px;
  background-color: #031019;
  border: 3px solid #E0E330;
  border-radius: 3px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  transform: 0.5s;
  transition: 0.3s;
}

.sectionBenef h1 {
  display: flex;
  color: #E0E330;
  font-size: 40px;
  justify-content: center;
  font-weight: 900;
  margin-top: -500px;
  position: absolute;
}

.cardBenef h2 {
  font-size: 30px;
  margin-top: 0px;
  font-weight: 900;
}

.cardBenef ul {
  font-size: 18px;
  text-align: center;
  list-style: none;
  margin-left: -30px;
}

.sectionMod {
  display: flex;
  background-color: #031019;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #E32D60;
}

.sectionMod h1 {
  display: flex;
  color: #E0E330;
  font-size: 40px;
  justify-content: center;
  font-weight: 900;
}

.sectionMod p {
  color: #E0E330;
  font-size: 15px;
}

.cardMod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 150px;
  border: #E32D60 solid;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  color: #E0E330;
  cursor: pointer;
}

.cardMod:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 200px;
  border: #E0E330 solid;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  color: #E32D60;
}

#cardClassic {
  background-image: url('../assets/Canon-Pro-Storror-1-1110.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  transition: 0.1s linear;
  font-size: 100px;
  font-weight: 900;
}

#cardClassic:hover {
  background-image: url('../assets/jump-long-jump.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  transition: 0.1s linear;
}

#cardFreeRunning {
  background-image: url('../assets/parkour-freerunning-athlete-jason-paul-mumbai.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  transition: 0.1s;
  font-size: 100px;
  font-weight: 900;
}

#cardFreeRunning:hover {
  background-image: url('../assets/ae8141b3bfdf5cd70ff1da6af1e79a58.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  transition: 0.1s linear;
}

#cardClimbing {
  background-image: url('../assets/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  font-size: 100px;
  font-weight: 900;
  transition: 0.1s linear;
}

#cardClimbing:hover {
  background-image: url('../assets/0a4f7ff61eb1076ac4dc30ef1e0fd751.gif');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s linear;
  /* background-position: 0%; */
}

.btnPrimary {
  display: flex;
  margin-top: 10%;
  background: none;
  color: white;
  font-weight: bolder;
  width: 150px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 1s linear;
  cursor: pointer;
  border-style: solid;
  border-color: #E0E330;
  position: relative;
}

.btnPrimary:hover {
  display: flex;
  margin-top: 10%;
  border-style: solid;
  border-color: #E0E330;
  color: black;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 1s;
}

.btnPrimary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E0E330;
  z-index: 0;
  transition:  transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleY(0);
}

.btnPrimary:hover::before {
  transform: scaleY(1);
}

.btnPrimary p {
  z-index: 1;
  font-weight: bolder;
}

.btnSair {
  display: flex;
  background: none;
  color: white;
  font-weight: bolder;
  width: 120px;
  margin-right: -100px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: 1s linear;
  cursor: pointer;
  border-style: solid;
  border-color: #E0E330;
  position: relative;
}

.btnSair:hover {
  display: flex;
  border-style: solid;
  border-color: #E0E330;
  color: black;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: 1s;
}

.btnSair::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E0E330;
  z-index: 0;
  transition:  transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleY(0);
}

.btnSair:hover::before {
  transform: scaleY(1);
}

.btnSair p {
  z-index: 1;
  font-weight: bolder;
}

#contentDash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.cardOnDashboard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* border-bottom: #E32D60 solid 3px; */
}

.sectionDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #031019;
  border-bottom: #E32D60 solid 3px;
}

.sectionDashboard h1 {
    display: flex;
    color: #E0E330;
    font-size: 40px;
    justify-content: center;
    font-weight: 900;
  }

.cardModDash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: #E32D60 solid;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  color: #E0E330;
  cursor: pointer;
  background-color: #E0E330;
}

.cardModDash h2 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.cardModDash:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 420px;
  border: #E0E330 solid;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  color: #E32D60;
  background-color: #E32D60;
}

#cardDashClassic {
  background-image: url('../assets/cardDashClassic.jpg');
  background-size: cover;
}

#cardDashFreeRunning {
  background-image: url('../assets/cardDashFreeRunning.jpg');
  background-size: cover;
}

#cardDashClimbing {
  background-image: url('../assets/cardDashClimbing.jpg');
  background-size: cover;
}

#grafico {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  height: 70vh;
  margin-top: -100px;
}

.kpisDashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin-right: 600px;
  
}

.kpis {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  width: 150%;
}

.kpi {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #031019;
  font-weight: 900;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

#kpiClassic {
  background-color: #E32D60;
}

#kpiFreeRunning {
  background-color: #E0E330;
}

#kpiClimbing {
  background-color: #CA440F;
}

#kpiTotal {
  display: flex;
  background-color: #652F8D;
  margin-left: -260px;
}

.divVotosClassic {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  color: white;
  font-size: 14px;
}

.divVotosFreeRunning {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 14px;
  color: white;
}

.divVotosClimbing {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 14px;
  color: white;
}

.divVotosTotal {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 14px;
  color: white;
}

.divVotosTotal p {
  margin-top: 170px;
  margin-left: -420px;
  text-align: center;
}

.divVotosClassic p {
  margin-top: -4px;
  text-align: center;
}

.divVotosFreeRunning p {
  margin-top: -4px;
  text-align: center;
}
.divVotosClimbing p {
  margin-top: -4px;
  text-align: center;
}

.maisVotada {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
}

.sectionContato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 7rem;
  height: 550px;
  background-image: url('../assets/backgroundLoginCadastro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #E32D60 solid 3px;
}

.sectionContato form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.sectionContato .inputBox {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
}


.sectionContato h1 {
  display: flex;
  color: #E0E330;
  font-size: 40px;
  justify-content: center;
  font-weight: 900;
}

.sectionContato #inputForm {
  width: 300px;
  border-color: white;
  border-width: 3.5px;
  background-color: transparent;
  background: none;
  border-style: solid;
  width: 430px;
  height: 40px;
  font-size: 20px;
  border-radius: 3px;
  margin: 5px;
  color: white;
}

#inputMensagem {
  width: 880px;
  border-color: white;
  background-color: transparent;
  background: none;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 3px;
  margin-top: 10px;
  color: white;
}

::placeholder {
  color: white;
  font-weight: 800;
  font-size: 15px;
  padding-left: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #E32D60;
}

::-webkit-scrollbar-thumb {
  background-color: #E0E330;
  width: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #031019;
  padding-left: 15px;
  padding-right: 15px;
  color: #E32D60;
  text-shadow: 0 0 2px rgb(136, 47, 88),
             0 0 4px #E32D60,
             0 0 6px #E32D60,
             0 0 8px #E32D60,
             0 0 14px #E32D60,
             0 0 16px #E32D60,
             0 0 20px #E32D60,
             0 0 30px #E32D60;
}

.footer-text p {
  font-size: 15px;
}

.footer-iconTop a {
  margin: 3px;
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: #E32D60;
  border: .2rem solid #E0E330;
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
  text-shadow: 0 0 2px #E32D60,
             0 0 4px #E32D60,
             0 0 6px #E32D60,
             0 0 8px #E32D60,
             0 0 14px #E32D60,
             0 0 16px #E32D60,
             0 0 20px #E32D60,
             0 0 30px #E32D60;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #E0E330;
  transition: .5s;
  padding-top: 5px;
}

.footer-iconTop a:hover i {
  color: #E32D60;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #E0E330;
  z-index: -1;
  transition: .5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.onu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}

.imgOnu{
  display: flex;
  width: 200px;
  height: 200px;
  margin: 3px;
  border: #E32D60 solid 2px;
  transform: 0.2;
  transition: 0.2s;
}

.imgOnu:hover{
  display: flex;
  width: 150px;
  height: 150px;
  margin: 3px;
  border: #E0E330 solid 2px;
  transform: 0.2s;
  transition: 0.2s;
}

.imgOnu img {
  width: 100%;
}